<a href="https://colab.research.google.com/github/111Vidya/PySpark-Fundamentals/blob/main/Apr_17_Spark_Python_Dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#PYSPARK on py needs this library
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=d03a0a6f7fb3472783420e9036b08c4805c0e92cc4b538402790c4e8b1a6a2a0
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
# Start a SPark Session
from pyspark.sql import SparkSession

In [ ]:
# Create a Spark Session
spark = SparkSession.builder.getOrCreate()

In [ ]:
#Create a list of Values .Prog lang and No. of users
dataList = [("Java", 20000), ("Python", 100000), ("Scala", 3000)]

In [ ]:
#Converting this list into RDD format. break set into smaller chunks
# Parllely process these smaller chunks to be processed faster
# Resilient Distributed data
rdd=spark.sparkContext.parallelize(dataList)

In [ ]:
# No. of chunks
rdd.count()

3

In [ ]:
# Collect data from each chunk
rdd.collect()

[('Java', 20000), ('Python', 100000), ('Scala', 3000)]

In [ ]:
# first chunk
rdd.first()

('Java', 20000)

In [ ]:
# Create DF in a Spark Dataframe structure . list of data and col names
# Pyspark can also read csv flies and create spark DF.
#Schema= design of the data rows and col

data = [('James','','Smith','1991-04-01','M',3000),
  ('Michael','Rose','','2000-05-19','M',4000),
  ('Robert','','Williams','1978-09-05','M',4000),
  ('Maria','Anne','Jones','1967-12-01','F',4000),
  ('Jen','Mary','Brown','1980-02-17','F',-1)
]

columns = ["firstname","middlename","lastname","dob","gender","salary"]
df = spark.createDataFrame(data=data, schema = columns)

In [ ]:
# Show Spark Dataframe structure. PY we used just DF
df.show()

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|    James|          |   Smith|1991-04-01|     M|  3000|
|  Michael|      Rose|        |2000-05-19|     M|  4000|
|   Robert|          |Williams|1978-09-05|     M|  4000|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|
+---------+----------+--------+----------+------+------+

In [ ]:
# List of values in col. Converting RDD structure using DF.
columns = ["language","users_count"]
data = [("Java", "20000"), ("Python", "100000"), ("Scala", "3000")]

In [ ]:
#Parallelize data . converting RDD data into DF
rdd = spark.sparkContext.parallelize(data)

In [ ]:
# Create a DF. RDD to DF
dfFromRDD1 = rdd.toDF()
dfFromRDD1.show()

+------+------+
|    _1|    _2|
+------+------+
|  Java| 20000|
|Python|100000|
| Scala|  3000|
+------+------+

In [ ]:
# DF Col names thru print schema
dfFromRDD1.printSchema()

root
 |-- _1: string (nullable = true)
 |-- _2: string (nullable = true)

In [ ]:
# converting the structure from RDD format(unstructred).
#Creating Structured Spark DF (tabular)
dfFromRDD1 = rdd.toDF(columns)

In [ ]:
# Print Schema to see col names
dfFromRDD1.printSchema()

root
 |-- language: string (nullable = true)
 |-- users_count: string (nullable = true)

In [ ]:
# Spark DF to be used
dfFromRDD1.show()

+--------+-----------+
|language|users_count|
+--------+-----------+
|    Java|      20000|
|  Python|     100000|
|   Scala|       3000|
+--------+-----------+

In [ ]:
# import fn strtype, strtfield,stringtype,interger.List format of info, and define schema cols,
# defining structure with each col and Dtype
# true will include null. use slash to continue same fn in next line
# This is a spark DF
from pyspark.sql.types import StructType,StructField, StringType, IntegerType
data2 = [("James","","Smith","36636","M",3000),
    ("Michael","Rose","","40288","M",4000),
    ("Robert","","Williams","42114","M",4000),
    ("Maria","Anne","Jones","39192","F",4000),
    ("Jen","Mary","Brown","","F",-1)
  ]

schema = StructType([ \
    StructField("firstname",StringType(),True), \
    StructField("middlename",StringType(),True), \
    StructField("lastname",StringType(),True), \
    StructField("id", StringType(), True), \
    StructField("gender", StringType(), True), \
    StructField("salary", IntegerType(), True) \
  ])

df = spark.createDataFrame(data=data2,schema=schema)
df.printSchema()
#df.show(truncate=False)

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

In [ ]:
# Create. Pandas DF from spark DF. df = sparkDF
pandasDF = df.toPandas()

In [ ]:
# in sparkDF use fn df.show(). in pandas just type pandasDF
pandasDF

  firstname middlename  lastname     id gender  salary
0     James                Smith  36636      M    3000
1   Michael       Rose            40288      M    4000
2    Robert             Williams  42114      M    4000
3     Maria       Anne     Jones  39192      F    4000
4       Jen       Mary     Brown             F      -1

In [ ]:
#Pandas fn can be
pandasDF.shape

(5, 6)

In [ ]:
#pandas DF
type(pandasDF)

pandas.core.frame.DataFrame

In [ ]:
pandasDF.head()

  firstname middlename  lastname     id gender  salary
0     James                Smith  36636      M    3000
1   Michael       Rose            40288      M    4000
2    Robert             Williams  42114      M    4000
3     Maria       Anne     Jones  39192      F    4000
4       Jen       Mary     Brown             F      -1

In [ ]:
pandasDF.tail()

  firstname middlename  lastname     id gender  salary
0     James                Smith  36636      M    3000
1   Michael       Rose            40288      M    4000
2    Robert             Williams  42114      M    4000
3     Maria       Anne     Jones  39192      F    4000
4       Jen       Mary     Brown             F      -1

In [ ]:
pandasDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   firstname   5 non-null      object
 1   middlename  5 non-null      object
 2   lastname    5 non-null      object
 3   id          5 non-null      object
 4   gender      5 non-null      object
 5   salary      5 non-null      int32
dtypes: int32(1), object(5)
memory usage: 348.0+ bytes

In [ ]:
# SparkDF .pandasDF is pandas data . df is spark DF
# shifting back for spark DF
df.show()

+---------+----------+--------+-----+------+------+
|firstname|middlename|lastname|   id|gender|salary|
+---------+----------+--------+-----+------+------+
|    James|          |   Smith|36636|     M|  3000|
|  Michael|      Rose|        |40288|     M|  4000|
|   Robert|          |Williams|42114|     M|  4000|
|    Maria|      Anne|   Jones|39192|     F|  4000|
|      Jen|      Mary|   Brown|     |     F|    -1|
+---------+----------+--------+-----+------+------+

In [ ]:
# Truncate is trimming the values. Mysql it is to delete the table
# Trauncate=false means it will not truncate anything. it will give all info
#without chopping any info
df.show(truncate = False)

+---------+----------+--------+-----+------+------+
|firstname|middlename|lastname|id   |gender|salary|
+---------+----------+--------+-----+------+------+
|James    |          |Smith   |36636|M     |3000  |
|Michael  |Rose      |        |40288|M     |4000  |
|Robert   |          |Williams|42114|M     |4000  |
|Maria    |Anne      |Jones   |39192|F     |4000  |
|Jen      |Mary      |Brown   |     |F     |-1    |
+---------+----------+--------+-----+------+------+

In [ ]:
# top 2 records of the DF
df.show(2)

+---------+----------+--------+-----+------+------+
|firstname|middlename|lastname|   id|gender|salary|
+---------+----------+--------+-----+------+------+
|    James|          |   Smith|36636|     M|  3000|
|  Michael|      Rose|        |40288|     M|  4000|
+---------+----------+--------+-----+------+------+
only showing top 2 rows

In [ ]:
# Top 2 records will be shown as RDD format
df.head(2)

[Row(firstname='James', middlename='', lastname='Smith', id='36636', gender='M', salary=3000),
 Row(firstname='Michael', middlename='Rose', lastname='', id='40288', gender='M', salary=4000)]

In [ ]:
# info only about first 3 records of all obs. james=jam bcoz of truncate trimming
df.show(2,truncate=3)

+---------+----------+--------+---+------+------+
|firstname|middlename|lastname| id|gender|salary|
+---------+----------+--------+---+------+------+
|      Jam|          |     Smi|366|     M|   300|
|      Mic|       Ros|        |402|     M|   400|
+---------+----------+--------+---+------+------+
only showing top 2 rows

In [ ]:
# spark DF
df.show()

+---------+----------+--------+-----+------+------+
|firstname|middlename|lastname|   id|gender|salary|
+---------+----------+--------+-----+------+------+
|    James|          |   Smith|36636|     M|  3000|
|  Michael|      Rose|        |40288|     M|  4000|
|   Robert|          |Williams|42114|     M|  4000|
|    Maria|      Anne|   Jones|39192|     F|  4000|
|      Jen|      Mary|   Brown|     |     F|    -1|
+---------+----------+--------+-----+------+------+

In [ ]:
# Info is provided in text format
columns = ["Seqno","Quote"]
data = [("1", "Be the change that you wish to see in the world"),
    ("2", "Everyone thinks of changing the world, but no one thinks of changing himself."),
    ("3", "The purpose of our lives is to be happy."),
    ("4", "Be cool.")]
df = spark.createDataFrame(data,columns)
df.show(truncate = False)

+-----+-----------------------------------------------------------------------------+
|Seqno|Quote                                                                        |
+-----+-----------------------------------------------------------------------------+
|1    |Be the change that you wish to see in the world                              |
|2    |Everyone thinks of changing the world, but no one thinks of changing himself.|
|3    |The purpose of our lives is to be happy.                                     |
|4    |Be cool.                                                                     |
+-----+-----------------------------------------------------------------------------+

In [ ]:
# truncate 25 try changing the truncate to 4 to see the change
df.show(truncate = 25)

+-----+-------------------------+
|Seqno|                    Quote|
+-----+-------------------------+
|    1|Be the change that you...|
|    2|Everyone thinks of cha...|
|    3|The purpose of our liv...|
|    4|                 Be cool.|
+-----+-------------------------+

In [ ]:
# Vertical false ..the info will not be vertical
df.show(5,truncate=25,vertical=False)

+-----+-------------------------+
|Seqno|                    Quote|
+-----+-------------------------+
|    1|Be the change that you...|
|    2|Everyone thinks of cha...|
|    3|The purpose of our liv...|
|    4|                 Be cool.|
+-----+-------------------------+

In [ ]:
# info is Vertical
df.show(truncate=25,vertical=True)

-RECORD 0--------------------------
 Seqno | 1
 Quote | Be the change that you...
-RECORD 1--------------------------
 Seqno | 2
 Quote | Everyone thinks of cha...
-RECORD 2--------------------------
 Seqno | 3
 Quote | The purpose of our liv...
-RECORD 3--------------------------
 Seqno | 4
 Quote | Be cool.

In [ ]:
# Supplying data below for nesting . Master stuct name and subfield as stuct field
# Name has subcol of 1st, middle and last name.
#then struct filed for other cols
#and so on for every col regards to names. Then we have cols for other fileds
structureData = [
    (("James","","Smith"),"36636","M",3100),
    (("Michael","Rose",""),"40288","M",4300),
    (("Robert","","Williams"),"42114","M",1400),
    (("Maria","Anne","Jones"),"39192","F",5500),
    (("Jen","Mary","Brown"),"","F",-1)
  ]
structureSchema = StructType([
        StructField('name', StructType([
             StructField('firstname', StringType(), True),
             StructField('middlename', StringType(), True),
             StructField('lastname', StringType(), True)
             ])),
         StructField('id', StringType(), True),
         StructField('gender', StringType(), True),
         StructField('salary', IntegerType(), True)
         ])

df2 = spark.createDataFrame(data=structureData,schema=structureSchema)
df2.printSchema()

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

In [ ]:
#Show fn will show sparkDF and print schema will show struct of schema
df2.show()

+--------------------+-----+------+------+
|                name|   id|gender|salary|
+--------------------+-----+------+------+
|    {James, , Smith}|36636|     M|  3100|
|   {Michael, Rose, }|40288|     M|  4300|
|{Robert, , Williams}|42114|     M|  1400|
|{Maria, Anne, Jones}|39192|     F|  5500|
|  {Jen, Mary, Brown}|     |     F|    -1|
+--------------------+-----+------+------+

In [ ]:
# Stuct, col and when function. conditional nested data.
# withcol = new col(other info) , with stuct id and rename it as identifier, other col called
#sal and gender.cast to change dtype of salary to int and value <2K with when condition
#When salary is <2k 'low' <4k medium otherwise high. drop ID gender and sal
from pyspark.sql.functions import col,struct,when
updatedDF = df2.withColumn("OtherInfo",
    struct(col("id").alias("identifier"),
    col("gender").alias("gender"),
    col("salary").alias("salary"),
    when(col("salary").cast(IntegerType()) < 2000,"Low")
      .when(col("salary").cast(IntegerType()) < 4000,"Medium")
      .otherwise("High").alias("Salary_Grade")
  )).drop("id","gender","salary")

updatedDF.printSchema()
updatedDF.show(truncate = False)

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- OtherInfo: struct (nullable = false)
 |    |-- identifier: string (nullable = true)
 |    |-- gender: string (nullable = true)
 |    |-- salary: integer (nullable = true)
 |    |-- Salary_Grade: string (nullable = false)

+--------------------+------------------------+
|name                |OtherInfo               |
+--------------------+------------------------+
|{James, , Smith}    |{36636, M, 3100, Medium}|
|{Michael, Rose, }   |{40288, M, 4300, High}  |
|{Robert, , Williams}|{42114, M, 1400, Low}   |
|{Maria, Anne, Jones}|{39192, F, 5500, High}  |
|{Jen, Mary, Brown}  |{, F, -1, Low}          |
+--------------------+------------------------+

we cannot perfom similar task with "having"